<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="card mb-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-9 text-center">
                        <h5>Remember to run this crontab update button post scheduling all the services</h5>                
                        <p>Cron uses local time system to run the jobs, hence schedule the services, based on your local time zone time only</p>        
                    </div>
                    <div class="col-3 mt-2">
                        <%= button_to "Update Crontab", { action: :update_crontab }, method: :post, class: 'btn btn-sm btn-success' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row container d-flex justify-content-center">

            <div class="col-lg-11 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">                        
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Service ID</th>                                        
                                        <th>Status</th>
                                        <th>Current Schedule</th>                                        
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @services.each do |service| %>
                                        <tr>
                                            <td><%= service.name %></td>
                                            <td><%= service.service_id %></td>                                                                                        
                                            <td>                                                
                                                <% if service.active? %>
                                                    <span class="badge badge-success">Online</span>
                                                <% else %>
                                                    <span class="badge badge-danger">Offline</span>
                                                <% end %>
                                            </td>
                                            <td>
                                                <%= service.custom_start_time.strftime("%I:%M %p") %> to <%= service.custom_stop_time.strftime("%I:%M %p") %> 
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <button class="btn btn-sm btn-outline-primary me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight<%= service.id %>" aria-controls="offcanvasRight">Schedule</button>

                                                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight<%= service.id %>" aria-labelledby="offcanvasRightLabel">
                                                        <div class="offcanvas-header">
                                                            <h5 id="offcanvasRightLabel">Service name: <%= service.name.capitalize %></h5>
                                                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                                        </div>
                                                        <div class="offcanvas-body">                                                        
                                                            <%= form_tag update_schedule_services_path, method: :put, class: 'form-group', id: 'schedule-form' do %>
                        
                                                                <%= hidden_field_tag :time_zone_offset, nil %>

                                                                <%= hidden_field_tag "services[#{service.id}][name]", service.name %>
                                                                <%= hidden_field_tag "services[#{service.id}][service_id]", service.service_id %>
                                                                <div class="text-center mb-2">
                                                                    <%= label_tag :Start_time, nil, class: 'form-label' %>
                                                                    <%= time_field_tag "services[#{service.id}][custom_start_time]", service.custom_start_time.strftime('%H:%M'), class: 'form-control text-center' %>
                                                                </div>
                                                                <div class="text-center">
                                                                    <%= label_tag :End_time, nil, class: 'form-label' %>
                                                                    <%= time_field_tag "services[#{service.id}][custom_stop_time]", service.custom_stop_time.strftime('%H:%M'), class: 'form-control text-center' %>
                                                                </div>
                                                                <div class="text-center"><%= submit_tag 'Update Schedule', class: 'btn btn-sm btn-outline-primary mt-4' %></div>                                                        
                                                            <% end %>
                                                        </div>
                                                    </div>                                            
                                                    <%= button_to "Start", { action: :start_service, id: service.service_id }, method: :post, class: 'btn btn-sm btn-outline-success me-2' %>
                                                    <%= button_to "Stop", { action: :stop_service, id: service.service_id }, method: :post, class: 'btn btn-sm btn-outline-danger' %>
                                                </div>            
                                            </td>
                                        </tr>                                  
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                      
        </div>
    </div>
</div>